.Star {
}

.Star__point {}

.Star__point_outer,
.Star__point_inner,
.Star__point_middle {
  fill: transparent;
  stroke: transparent;
}

.Star_points .Star__point_outer {
  stroke: grey;
  fill: #fff;
}

.Star_points .Star__point_inner {
  stroke: grey;
  fill: #fff;
}

.Star_points .Star__point_middle {
  stroke: grey;
  fill: #67b0ff;
}

svg {
  overflow: visible;
  margin: auto;
  width: 50%;
  border-radius: 100%;
}

path {
  stroke: grey;
  stroke-width: 2;
  fill: none;
}
circle {
  stroke: grey;
  stroke-width: 2;
  fill: none;
}
